services:
  node-red:
    image: nodered/node-red:latest
    container_name: iot-server-nodered
    volumes:
      - nodered-server-data:/data
    environment:
      - TZ=Europe/London
      - PORT=1880
    ports:
      - "1880:1880"
    depends_on:
      - mongo
      - influxdb
    networks:
      - iot-server-network

  mongo:
    image: mongo:latest
    container_name: iot-server-mongo
    volumes:
      - mongo-db-data:/data/db
    ports:
      - "27017:27017"
    networks:
      - iot-server-network

  qdrant:
    image: qdrant/qdrant:latest
    hostname: qdrant
    container_name: iot-server-qdrant
    networks:
      - iot-server-network
    ports:
      - "6333:6333"
    restart: unless-stopped
    volumes:
      - qdrant-storage:/qdrant/storage

  ollama:
    image: ollama/ollama:latest
    container_name: iot-server-ollama
    networks:
      - iot-server-network
    restart: unless-stopped
    volumes:
      - ollama-data:/root/.ollama
    env_file:
      - .env
    ports:
      - "11434:11434"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  backend:
    build:
      context: ../../code/backend
      dockerfile: Dockerfile
    container_name: iot-server-backend
    environment:
      - FORCE_COLOR=1
    env_file:
      - .env
    depends_on:
      - mongo
      - qdrant
      - ollama
      - influxdb
    networks:
      - iot-server-network
    restart: unless-stopped

  gateway:
    build:
      context: ../../code/gateway
      dockerfile: Dockerfile
    container_name: iot-server-gateway
    environment:
      - FORCE_COLOR=1
    depends_on:
      - backend
      - node-red
    networks:
      iot-server-network:
        aliases:
          - gateway
    restart: unless-stopped
    ports:
      - "80:8080"
      - "443:8443"
    volumes:
      - gateway-data:/app/data
    env_file:
      - .env

  influxdb:
    image: influxdb:2.7
    container_name: iot-server-influxdb
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUX_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUX_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUX_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUX_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUX_TOKEN}
      - DOCKER_INFLUXDB_INIT_RETENTION=${INFLUX_RETENTION}
    volumes:
      - influxdb-data:/var/lib/influxdb2
      - influxdb-config:/etc/influxdb2
    ports:
      - "8086:8086"
    networks:
      - iot-server-network

networks:
  iot-server-network:
    name: iot-server-network
    driver: bridge

volumes:
  nodered-server-data:
  mongo-db-data:
  mongo-compass-data:
  qdrant-storage:
  ollama-data:
  influxdb-data:
  influxdb-config:
  gateway-data:
